body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color: #222222;
    background-image: url("../img/alst.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    padding-bottom: 5%;
}

.logo{
    display: block;
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

a{
    color:white;
    font-size: 18px;
}

#Bloc1 {
    float:left ;
    width:auto ;
    margin-left: auto;
    margin-right: auto;
}

#Bloc2 {
    float:right;
    width:auto ;
    margin-left: 7px;
    margin-right: auto;
}

h1{
    display: block;
    color: whitesmoke ;
    padding-bottom: 15px;
    text-align: center;
}
h2{
    display: block;
    color: whitesmoke ;
    padding-bottom: 15px;
    text-align: center;
}

h3 {
    display: block;
    text-align: center;
}


.admin{
    visibility: visible;
}
.etu{
    display:none;
}
.titre{
    font-family:'Work Sans',sans-serif;
}

.form-inscription label{
    color: white;
}
.form__group label{
    color: white;
}

.inscription-input{
    background-color: lightgrey;
    border-radius: 8px;
}

.label{
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0,0,0);
    transition: all .2s ease;
    pointer-events: none;
}

.focus-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 5);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.actbutton{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 2);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 3);
    color: black;
    transition: all .15s ease;
}
.readonly{
    background-color: yellow;
}

.close:hover{
    color: #e70000;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.form__field {
    font-family: inherit;
    width: 40%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: darkgray;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, pink, #e70000);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: white;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

/* demo */


textarea{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: #9b9b9b;
    border-radius: 3px;
}

.dateform{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #9b9b9b;
    color: white;
    border-radius: 3px;
}

.numberform{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #9b9b9b;
    color: white;
    border-radius: 3px;
}

.price{
    padding-top: -10px;
    padding-left: 40px;
}

.draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
    -webkit-transition: color 0.25s 0.0833333333s;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #e70000;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #e70000;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 16px 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}
.btn:focus {
    outline: 2px dotted #e70000;
}

.info{
    color: white;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

.table-themed{
    background-color: rgba(255, 255, 255, 0.6);
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}

td {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
}



.navcolor{
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
}

.select-themed {
    background-color: rgba(255, 255, 255, 0.3);
}

.switch {
    --line: rgba(240, 240, 240, 0.7);
    --dot: #ff0000;
    --circle: rgba(220, 220, 220, 0.7);
    --background: rgba(255, 255, 255, 0.9);
    --duration: .3s;
    --text: rgba(210, 210, 210, 0.7);
    --shadow: 0 1px 3px rgba(0, 9, 61, 0.08);
    cursor: pointer;
    position: relative;
}
.switch:before {
    content: '';
    width: 60px;
    height: 32px;
    border-radius: 16px;
    background: var(--background);
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: var(--shadow);
    opacity: 70%;
}
.switch input {
    display: none;
}
.switch input + div {
    position: relative;
}
.switch input + div:before, .switch input + div:after {
    --s: 1;
    content: '';
    position: absolute;
    height: 4px;
    top: 14px;
    width: 24px;
    background: var(--line);
    -webkit-transform: scaleX(var(--s));
    transform: scaleX(var(--s));
    -webkit-transition: -webkit-transform var(--duration) ease;
    transition: -webkit-transform var(--duration) ease;
    transition: transform var(--duration) ease;
    transition: transform var(--duration) ease, -webkit-transform var(--duration) ease;
    opacity: 70%;
}
.switch input + div:before {
    --s: 0;
    left: 4px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    border-radius: 2px 0 0 2px;
}
.switch input + div:after {
    left: 32px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    border-radius: 0 2px 2px 0;
}
.switch input + div span {
    padding-left: 60px;
    line-height: 28px;
    color: rgba(225, 225, 255, 0.8);
}
.switch input + div span:before {
    --x: 0;
    --b: var(--circle);
    --s: 4px;
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 var(--s) var(--b);
    -webkit-transform: translateX(var(--x));
    transform: translateX(var(--x));
    -webkit-transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
    transition: box-shadow var(--duration) ease, -webkit-transform var(--duration) ease;
    transition: box-shadow var(--duration) ease, transform var(--duration) ease;
    transition: box-shadow var(--duration) ease, transform var(--duration) ease, -webkit-transform var(--duration) ease;
}
.switch input + div span:not(:empty) {
    padding-left: 68px;
}
.switch input:checked + div:before {
    --s: 1;
}
.switch input:checked + div:after {
    --s: 0;
}
.switch input:checked + div span:before {
    --x: 28px;
    --s: 12px;
    --b: var(--dot);
}

body .switch + .switch {
    margin-top: 32px;
}
body .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}
body .dribbble img {
    display: block;
    height: 28px;
}

.dark {
    background: #24252A;
}

.flex {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
.close:hover,
.close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.slide:hover,
.slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
}

.offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.fill {
    --color: white;
    --hover: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

button {
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
button:hover, button:focus {
    border-color: var(--hover);
    color: #fff;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

code {
    color: #e4cb58;
    font: inherit;
}

.inputrejoindre{
    color: #0c0c0c;
}